<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-EN">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3 th:text="${title}"></h3>
<ul th:remove="all-but-first">
<li th:each="item : ${items}" >
    <div>
        <b th:text="${item.name}"></b>
        will be expired in
        <b th:text="${item.days}"></b>
        days
    </div>
</li>
</ul>
</body>
</html>